*
{
    font-family: verdana, helvetica, arial, sans-serif;
}

body
{
    color: #073642;
    background-color: #eee8d5;
    font-size: 99%;  /* Enables font size scaling in MSIE */
    margin: 0;
    padding: 0;
}

#header
{
    width:100%;
}

#middle-header
{
    width:100%;
    height:1.5em;

    font-size:250%;
    font-weight:bold;

    padding:3px 0 0 3px;
}

#bottom-header
{
    width:100%;
    height:1.5em;

    color:#eee8d5;
    background-color:#073642;

    font-size:110%;
}

#menu
{
    float:left;

    width:14em;
    margin: 1.5em 1em 1em 0em;
}

div#menu ul
{
    margin:0;
    padding:0;

    list-style: none;
}

div#menu ul ul
{
    margin-left:1em;
}

div#menu ul li a
{
    display:block;

    text-decoration:none;

    color: #073642;

    padding:3px 3px 3px 1em;
}

div#menu ul li a:hover
{
    color: #eee8d5;
    background-color: #073642;
}

div#menu ul li a.active
{
    font-weight:bold;
}

#content
{
}

#footer
{
    clear:both;

    width:100%;
    height:1.5em;

    color:#eee8d5;
    background-color:#073642;
}

#footer a
{
    color:#eee8d5;

    text-decoration: none;
}

#footer a:hover,a:active
{
    text-decoration: underline;
}

div.left
{
    text-align:left;
}

div.right
{
    text-align:right;
}

a
{
    color: #073642;

    text-decoration: underline;
}

a:hover,
a:active
{
    text-decoration: none;
}
