div.blog h1
{
    font-size: 1.5em;
}

div.blog h2
{
    font-size: 1.17em;
}

div.bloglist
{
    text-align:center;
    color:grey;
}

div.bloglist a
{
    color:black;
    text-decoration:none;
}

div.bloglist a:hover,
div.bloglist a:active
{
    text-decoration:underline;
}

/* List of page numbers */
div.bloglist ul
{
    margin:0;
    padding:0;
    list-style: none;
    display:inline;
}

div.bloglist ul li
{
    display: inline;
    color:black;
    font-weight:bold;
}

div.bloglist ul li a
{
    display: inline;
    font-weight:normal;
}
